# For more information, see [docs](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax)

# This repository is maintained by: 
* @max-schaefer @snadi @franktip
